<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Game.My.MySettings>
            <setting name="Entry_BackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="TheGame_BackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="IsEntryBackgroundDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsTheGameBackgroundDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsBackgroundAnImage_Entry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Entry_BackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TheGame_BackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="IsBackgroundAnImage_TheGame" serializeAs="String">
                <value>True</value>
            </setting>
        </Game.My.MySettings>
    </userSettings>
</configuration>